.add *{
    background-color: #91A75D; 
}
.add{
    width: 300px;
    
}
h1{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.icon img{
    width: 40px;
    height:40px;
}
.icon{
    margin-top: 5px;
}



.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(37, 45, 26, 0.8); /* dark background */
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;/* ensure it appears above everything */
  }
  @keyframes fadeIn {
    to {
      background: rgba(37, 45, 26, 0.8);
    }
  }
  .popup {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    
  }
  
  
  
  
  