body{
  background-color: #CFD3AD;
}
.app{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card-class{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.app-class{
  background-color: #72764d;
  width: 150px;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
}